<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
    {% csrf_token %}
    <!-- {{ formset.as_p }} -->
    <!-- skillsmodel_set-0-DELETE -->
    {{formset.management_form}}
    {% for form in formset %}                           
        <div class="bird-form formsetborder">
           
            <label class="formsetlable">{{form.skillname.label}}:</label>
            {{form.skillname}}
            {{form.DELETE}}
            {{form.id}}
            {{form.skills}}
           
        </div>
        
    {% endfor %}
    <button type="submit" name="skilledit" >ذخیره</button>
    <!-- <button type="submit">Save</button> -->
    </form>
</body>
</html>